@page
@model LeagueDatabase.Pages.Tournaments.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tournament</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tournament.ID" class="control-label"></label>
                <input asp-for="Tournament.ID" class="form-control" />
                <span asp-validation-for="Tournament.ID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.Title" class="control-label"></label>
                <input asp-for="Tournament.Title" class="form-control" />
                <span asp-validation-for="Tournament.Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.Reward" class="control-label"></label>
                <input asp-for="Tournament.Reward" class="form-control" />
                <span asp-validation-for="Tournament.Reward" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tournament.PlayerID" class="control-label"></label>
                <input asp-for="Tournament.PlayerID" class="form-control" />
                <span asp-validation-for="Tournament.PlayerID" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
